{% extends "Blog\BlogBundle:Layouts:main.html.twig" %}

{% block title %}About{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block container %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1> Tuncer Başaran</h1>
        <p> Over 2 years of experience in Php development working across multiple technologies have helped me to stay abreast of new developments within the industry. Versatility in quickly adapting to new coding conventions is combined with a 'can-do' attitude. This means I am happy working independently or in a close team environment, and apply a positive attitude to every project.</p>
        <p> tuncer17@gmial.com - 0 535 760 77 50</p>
    </div>
</div>

{% endblock %}
