{% extends "Blog\BlogBundle:Layouts:main.html.twig" %}

{% block title %}Home Page{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block container %}
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 style="color: #259925">En Uygun</h1>
            <p class="lead">Tuncer Başaran Test Project</p>
        </div>
    </div>

{% endblock %}


{% block footer %}
    footerr dayımmm
{% endblock %}