<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
    <title>{% block title %}symblog{% endblock %}</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block stylesheets %}
        {% include "Blog\BlogBundle:Layouts:scripts.html.twig" %}
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

    <section id="wrapper">
        {% include "Blog\BlogBundle:Layouts:navbar.html.twig" %}
    </section>

    <!-- Page Content -->
    <div class="container">
        {% block container %}

        {% endblock %}
    </div>
    <div class="row"></div>


    <div id="footer">
        {% include "Blog\BlogBundle:Layouts:footer.html.twig" %}
    </div>


    {% block javascripts %}
    {% endblock %}
</body>
</html>
